body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Center links horizontally */
    background-color: #590817;
    color: white;
    padding: 1rem;
}

.navbar-links {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 0.5rem;
}

.navbar a {
    color: #F2F2F2;
    text-decoration: none;
    margin-right: 2.5rem;
}

.navbar-links li {
    margin: 0;
}

.navbar a:hover {
    color: white;
}

.container {
    display: flex;
}

.content {
    margin-left: 100px;
    padding: 20px;
    flex-grow: 1;
}

.navbar-logo {
    flex: 0 0 160px; /* Fixed width for the logo container */
    height: 60px; /* Fixed height for the logo container */
    width: 60px; /* Fixed width for the logo container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the logo covers the entire container */
}